#editor-body {
  margin: 1em 0 0 0;
  max-width: 800px;
  background-color: #222;
  box-shadow: 8px 8px #444;
}

#editor-title {
  margin: 0 0 0 .25em;
  color: #efefef;
}

#editor {
  width: 100%;
  /* Use parent when calculating width to prevent overflow */
  box-sizing: border-box; 
  overflow: scroll;
  color: #eee;
  background-color: #282438;
  line-height: 1.5;
  min-height: 12em;
  resize: vertical;
  font-family: monospace;
}





